sudo: required
dist: trusty
services:
  - xvfb
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - chromium-chromedriver
      - google-chrome-stable

before_script:
  - ln --symbolic /usr/lib/chromium-browser/chromedriver "${HOME}/bin/chromedriver"
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm i -g npm@^3
  - sleep 3
  
install:
  - pip3 install robotframework
  - pip3 install selenium
  - pip3 install robotframework-seleniumlibrary
  
script:
  # javacucumber
  - cd javacucumber
  - mvn validate
  - mvn test
  - cd ..
  # robotframework
  - robot RobotFramework

