sudo: required
dist: trusty
services:
  - xvfb
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - chromium-chromedriver
      - google-chrome-stable

language: python
python:
  - "3.6"

before_script:
  - ln --symbolic /usr/lib/chromium-browser/chromedriver "${HOME}/bin/chromedriver"
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm i -g npm@^3
  - sleep 3
  
install:
  - npm install -g selenium-side-runner
  - gem install watir
  - pip install robotframework
  - pip install selenium
  - pip install robotframework-seleniumlibrary
  
script:
  # javacucumber
  - cd javacucumber
  - mvn validate
  - mvn test
  - cd ..
  # selenium-side-runner
  - selenium-side-runner SeleniumIDE\*.side-runner
  # watir
  - ruby watir/google.rb
  - ruby watir/minimal_wikipedia.rb
  # robot framework
  - robot RobotFramework

